<% layout("/layouts/Boilerplate")%>


<div class="row mt-3">
    <h1 class="col-6 offset-3">Signup</h1>
    <div class="col-4 offset-3 ">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" Class="form-label">username</label>
                    <input 
                     name="username"
                     placeholder="username" 
                     id="username"
                     type="text" 
                     class="form-control"
                     required  />
                <div class="valid-feedback">look Good!</div>
                <div class="invalid-feedback">required!</div>
            </div>
            <div class="mb-3">
                <label for="email" Class="form-label">Email</label>
                    <input 
                     name="email"
                     placeholder="email" 
                     id="email"
                     type="email" 
                     class="form-control"
                     required  />
            </div>
            <div class="mb-3">
                <label for="password" Class="form-label">Password</label>
                    <input 
                     name="password"
                     placeholder="password" 
                     id="password"
                     type="password" 
                     class="form-control"
                     required  />
            </div>
            <button class="btn btn-success btn-dark">Signup</button>
        </form>
     </div>
</div>
